@font-face {
    font-family: 'FavoritRegular';
    src: url('./fonts/Favorit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FavoritLight';
    src: url('./fonts/Favorit-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'FavoritRegular', sans-serif;
    color: #000;
    margin: 0;
    font-size: 16px; /* Taille de police par défaut à 16px */
}

/* NAVBARS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    opacity: 1;
}

.navbar.visible {
    opacity: 1;
}

.navbar img {
    height: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    position: fixed; 
    top: 10px;
    right: 5px;
    align-items: center;
    /* transition: opacity 10s ease; */
    animation: apparition 4s forwards;
    padding: 0px 10px;
}
  
@keyframes apparition {
    0% { opacity: 0; }
    25% { opacity: 0; }
    50% { opacity: 0.2; }
    /* ... définir d'autres paliers ... */
    100% { opacity: 1; }
  }

.navbar-right a {
    color: black;
    background-color: transparent;
    text-decoration: none;
    padding: 20px 10px;
    margin-right: 10px;
    font-size: 0.75rem;
}

.navbar-right a:hover {
    color: white;
}

/* GENERAL SECTION STYLING */
.logo, .hero, .concept, .collaborations, .vision, .newsletter {
    text-align: center;
    padding: 20px 20px; 
}

.logo {
    min-height: 100vh;
    background-color: #EE002D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 20vh;
    max-width: 80%;
}

.hero {
    background-image: url('./images/Zaha.png');
    background-size: cover;
    background-position: center;
    color: #EE002D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-family: 'FavoritLight', sans-serif;
    font-size: 3rem;
    margin: 0 0 20px;
    max-width: 75%;
}

.hero h2 {
    font-family: 'FavoritLight', sans-serif;
    font-size: 1.2rem;
    margin: 0 0 40px;
    max-width: 75%;
}

.concept {
    background-image: url('./images/thando-hopa_BG.png');
    background-size: cover;
    background-position: center;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creators {
    display: flex;
    justify-content: center;
    gap: 2%; 
    margin-bottom: 5%; 
}

.creators img {
    width: 45%; 
}

.section { 
    position: relative;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    box-sizing: border-box; 
}

.section-title {
    position: absolute;
    top: 20px; 
    right: 20px; 
    color: black; 
    font-size: 1.5rem; 
}

.section-content {
    max-width: 80%; 
}

.section h3 {
    font-family: 'FavoritLight', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
    max-width: 75%;
}

section p, section ol, .section-title {
    font-family: 'FavoritLight', sans-serif;
    font-size: 1.1em;
    margin: 20px auto;
    max-width: 75%;
}

.vision{
    min-height: 100vh;
    background-color: black;
    color: #EE002D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vision h1 {
    font-family: 'FavoritLight', sans-serif;
    font-size: 2rem;
    margin: 0 0 20px;
    max-width: 75%;
}

/* LIST STYLING */
ol {
    list-style-type:lower-alpha;
    padding: 0;
}

ol li {
    margin: 10px 0;
}

ol li:before {
    content: "0" counter(section) ".";
    counter-increment: section;
    margin-right: 10px;
    color: #EE002D;
}

.csr ol li:before {
    color: #000;
}

/* CTA BUTTON STYLING */ 
button.cta {
    font-family: 'FavoritLight', sans-serif;
    color: black; 
    background-color: transparent;
    border: 1px solid black; 
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease; 
}

button.cta:hover {
    background-color: #000;
    color: #fff;
    border-color:none; 
}

/* FORM STYLING */
#newsletter-form input {
    font-family: 'FavoritLight', sans-serif;
    color: black;
    border: 1px solid #000000;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
    border-radius: 0px; 
}

/* Pop-up Form Styling */
#form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 90vw; 
    max-height: 90vh; 
    box-sizing: border-box;
    border-radius: 0px; 
}

/* Overlay styles */
#popup-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
/* Close button styles */
.close-button {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#form-popup form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form-popup form input, #form-popup form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
}

#form-popup form button {
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

#form-popup form button:hover {
    background-color: #000; 
}


/* FOOTER */
footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-links {
    margin-bottom: 10px;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.hero button {
    padding: 10px 20px;
    font-family: 'FavoritLight', sans-serif;
    color: #EE002D; 
    background-color: transparent;
    border: 1px solid #EE002D;
    font-size: 1em;
}

.hero button:hover {
    background-color: #EE002D;
    color: black;
    border-color:none; 
}

/* Styles for the popups */
#loading-popup, #response-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
}
  
.popup-content {
    padding: 20px;
}


/* MEDIA QUERIES FOR RESPONSIVENESS */
@media (max-width: 600px) { 
    .hero h1 {
        font-size: 2rem;
    }

    .hero h2 {
        font-size: 1.2rem;
    }

    .hero button {
        padding: 10px 20px;
        font-size: 1em;
    }

    section p, section ol, .section-title, .hero h1, .hero h2, .vision h1 {
        max-width: 100%; /* élargir le texte en responsive */
    }
    /* ... (votre CSS existant) ... */

    .creators img {
        width: 100%;
    }

    .thando-photo {
        display: none; /* Masquer l'image de Thando Hopa sur mobile */
    }

    .mobile-hide {
        display: none; /* Masquer les paragraphes avec la classe "mobile-hide" */
    }
}