* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EE002D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo {
    min-width: 60vw; /* Déduisez 40px pour les marges de 20px de chaque côté */
    max-height: 20%;
    object-fit: contain;
    margin: 0 20px; /* Ajoutez une marge de 20px de chaque côté du logo */
}